@font-face {
  font-family: "Poiret One";
  src:
    local("Poiret One"),
    url("/fonts/PoiretOne-Regular.woff2") format("woff2"),
    url("/fonts/PoiretOne-Regular.woff") format("woff"),
    url("/fonts/PoiretOne-Regular.otf") format("otf"),
    url("/fonts/PoiretOne-Regular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins ExtraLight";
  src:
    local("Poppins ExtraLight"),
    url("/fonts/Poppins-ExtraLight.woff2") format("woff2"),
    url("/fonts/Poppins-ExtraLight.woff") format("woff"),
    url("/fonts/Poppins-ExtraLight.otf") format("otf"),
    url("/fonts/Poppins-ExtraLight.ttf") format("ttf");
  font-weight: 200;
  font-display: swap;
}
