---
import type { Page } from "src/lib/notion-interfaces";
import { getDatabaseByName } from "src/lib/notion/client";
import { Image } from "astro:assets";
import logo from "../../assets/logo-dl.svg";

let pagesDatabase = (await getDatabaseByName("Pages"))!;
let pages: Page[];
pages = pagesDatabase.Pages;

pages.sort((a, b) => {
  if (a.Name === "Homepage") return -1; // "Homepage" comes first
  if (b.Name === "Homepage") return 1; // Anything else comes after "Homepage"
  return a.Name.localeCompare(b.Name); // Alphabetical sorting for other pages
});

const url = new URL(Astro.request.url);
---

<header
  class="fixed w-full top-0 z-40 bg-black/[.5] backdrop-blur group py-2 px-4 flex justify-between sm:justify-center sm:items-center"
  id="main-header"
>
  <div class="flex w-full sm:max-w-3xl">
    <a
      aria-current={url.pathname === "/" ? "page" : false}
      class="inline-flex items-center sm:relative sm:inline-block h-10 w-12"
      href="/"
    >
      <Image
        src={logo}
        alt="Daniel Locatelli logo"
        class="inline mix-blend-difference"
      />
    </a>
    <nav
      aria-label="Main menu"
      class="relative grow hidden flex-col items-end pt-6 group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:mt-1 sm:flex sm:flex-row sm:items-center sm:py-0 font-body text-lg sm:text-base sm:justify-around"
      id="navigation-menu"
    >
      {
        pages.map(
          (page) =>
            page.Name !== "Homepage" && (
              <a
                aria-current={url.pathname === page.Slug ? "page" : false}
                class="sm:px-3 py-3 underline-offset-2 sm:py-0 sm:hover:underline"
                data-astro-prefetch
                href={"/" + page.Slug}
                title={page.FullName}
              >
                {page.Name}
              </a>
            )
        )
      }
      <!-- <a
        class="sm:px-3 py-3 underline-offset-2 sm:py-0 sm:hover:underline"
        data-astro-prefetch
        href="/documents/daniel-locatelli-cv.pdf"
        title="Daniel Locatelli's CV"
      >
        CV
      </a> -->
    </nav>
  </div>
  <!-- <Search />
  <ThemeToggle /> -->
  <mobile-button class="flex items-center h-10">
    <button
      aria-expanded="false"
      aria-haspopup="menu"
      aria-label="Open main menu"
      class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
      id="toggle-navigation-menu"
      type="button"
    >
      <svg
        aria-hidden="true"
        class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
        fill="none"
        focusable="false"
        id="line-svg"
        stroke="white"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.75 9h16.5m-16.5 6.75h16.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <svg
        aria-hidden="true"
        class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
        class="text-accent"
        fill="none"
        focusable="false"
        id="cross-svg"
        stroke="white"
        stroke-width="1.5"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6 18L18 6M6 6l12 12"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
  </mobile-button>
</header>

<script>
  import { toggleClass } from "@/utils";

  class MobileNavBtn extends HTMLElement {
    private headerEl: HTMLElement;
    private menuOpen: boolean;
    private mobileButtonEl: HTMLButtonElement;

    toggleMobileMenu = () => {
      toggleClass(this.headerEl, "menu-open");
      this.menuOpen = !this.menuOpen;
      this.mobileButtonEl.setAttribute(
        "aria-expanded",
        this.menuOpen.toString()
      );
    };

    constructor() {
      super();
      this.headerEl = document.getElementById("main-header")!;
      this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
      this.menuOpen = false;

      this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
    }
  }

  customElements.define("mobile-button", MobileNavBtn);
</script>
