---
import BaseHead from "@/components/BaseHead.astro";
import phyllotaxis from "../assets/notion/10ac74a5-a6a4-4524-9d84-cd9a01fb4abb/phyllotaxis-widescreen.svg";

const locale = "en";
---

<html lang={locale}>
  <head>
    <BaseHead
      description="CS50 Cover"
      title="CS50 Cover"
      locale={locale}
      slug="/cs50-sql-cover"
    />
  </head>
  <body class="m-0 h-full min-w-full overflow-hidden p-0">
    <main
      class="flex max-h-screen min-h-screen w-full flex-col items-end justify-center overflow-hidden bg-zinc-900 p-6"
    >
      <img
        class="absolute z-0 w-full scale-150 overflow-hidden opacity-20"
        src={phyllotaxis.src}
        alt="any"
      />
      <div
        class="z-10 flex flex-col items-end pb-14 bg-blend-difference mix-blend-difference"
      >
        <h1 class="text-8xl">BuildSystems Toolbox</h1>
      </div>
      <div class="flex flex-col items-end pb-16">
        <p>Name</p>
        <h3 class="text-5xl">Daniel Nunes Locatelli</h3>
        <p>GitHub</p>
        <h3 class="text-5xl">@daniel-locatelli</h3>
        <p>edX</p>
        <h3 class="text-5xl">@daniel_locatelli</h3>
      </div>
      <h3 class="text-5xl">Munich Germany</h3>
      <h3 class="text-5xl">05-08-2024</h3>
    </main>
  </body>
</html>
