---
import Base from "@/layouts/Base.astro";
import profilePhoto from "@/assets/daniel-locatelli.png";
import { Image } from "astro:assets";
import Container from "@/components/Container.astro";
import { db, SkillProgramming } from "astro:db";

const skillProgramming = await db.select().from(SkillProgramming);
---

<Base
  meta={{
    title: "Daniel Locatelli CV",
    description:
      "This is my full CV, including work, education, lectures, publications, certificates, and more.",
    coverAlt: "Daniel Locatelli's profile photo.",
    coverImage: "@/assets/daniel-locatelli.png",
    locale: "en",
    slug: "cv",
  }}
>
  <Container
    class="relative flex flex-col gap-8 font-body text-base [&_h2]:text-3xl"
  >
    <div class="flex gap-6 pt-28">
      <Image
        src={profilePhoto}
        alt="Daniel Locatelli's profile photo."
        class="h-52 w-52 rounded-full"
      />
      <div class="flex flex-col justify-center gap-2">
        <div class="flex flex-col gap-2">
          <h1 class="font-title text-7xl">Daniel Locatelli</h1>
          <p class="text-2xl">AECO Software developer</p>
        </div>
        <div class="flex gap-2 text-sm">
          <p>
            Architecture is a transdisciplinary field, and its future lies in
            using computational, co-designed, cybernetic techniques combined
            with vernacular eco-friendly materials.
          </p>
          <address>
            <a href="mailto:architect.locatelli@gmail.com"
              >architect.locatelli@gmail.com</a
            >
            +49 178 324-0834<br />
            Munich, Germany <br />
          </address>
        </div>
      </div>
    </div>
    <section>
      <h2>Summary</h2>
      <p>Text</p>
    </section>
    <section>
      <h2>Technical Skills</h2>
      <table>
        <tr class="flex gap-2"
          ><th>Programming:</th>
          {skillProgramming.map(({ name, level }) => <td>{name}</td>)}
        </tr>
      </table>
    </section>
    <section>
      <h2>Work Experience</h2>
      <div>
        <p>date</p>
        <div>
          <h3>Work title</h3>
          <p>Work place</p>
          <ul>
            <li>Work item description</li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <h2>Education</h2>
      <div>
        <p>date</p>
        <div>
          <h3>Education title</h3>
          <p>Education place</p>
          <p>Education description</p>
        </div>
      </div>
    </section>
    <section>
      <h2>Publication</h2>
      <div>
        <p>date</p>
        <div>
          <h3>Publication title</h3>
          <p>Location</p>
          <p>Authors</p>
        </div>
      </div>
    </section>
    <section>
      <h2>My Lecture, Talks and Workshops</h2>
      <div>
        <p>date</p>
        <div>
          <h3>Title</h3>
          <p>Location</p>
          <p>Description</p>
        </div>
      </div>
    </section>
    <section>
      <h2>Certificates</h2>
      <div>
        <p>date</p>
        <div>
          <h3>Title</h3>
          <p>Location</p>
          <p>Description</p>
        </div>
      </div>
    </section>
    <section>
      <h2></h2>
    </section>
  </Container>
</Base>
