---
import {
  type Block,
  type BulletedListItem,
  type RichText,
  type List,
} from "../../../lib/notion-interfaces.ts";
import { snakeToKebab } from "../../../lib/style-helpers.ts";
import NotionRichText from "./RichText.astro";
import NotionBlocks from "../NotionBlocks.astro";
import "../../../styles/notion-color.css";

export interface Props {
  blockList: List;
  headings: Block[];
  slug: string;
}

const { blockList, headings, slug } = Astro.props;
---

<ul class="pl-7 pr-2 list-disc">
  {
    blockList.ListItems.filter(
      (b: Block) => b.Type === "bulleted_list_item"
    ).map((b: Block) => (
      <li
        class:list={[
          snakeToKebab(b.BulletedListItem!.Color),
          "my-2 px-0 text-base font-body w-full",
        ]}
      >
        {b.BulletedListItem!.RichTexts.map((richText: RichText) => (
          <NotionRichText richText={richText} />
        ))}
        {b.HasChildren && (
          <NotionBlocks
            blocks={b.BulletedListItem!.Children!}
            headings={headings}
            slug={slug}
          />
        )}
      </li>
    ))
  }
</ul>
