---
import {
  type Block,
  type BulletedListItem,
  type RichText,
  type List,
} from "../../../lib/notion-interfaces.ts";
import { snakeToKebab } from "../../../lib/style-helpers.ts";
import NotionRichText from "./RichText.astro";
import NotionBlocks from "../NotionBlocks.astro";
import "../../../styles/notion-color.css";

export interface Props {
  block: List;
  headings: Block[];
  slug: string;
}

const { block, headings, slug } = Astro.props;
---

<ul class="list-pill">
  {
    block.ListItems.filter((b: Block) => b.Type === "bulleted_list_item").map(
      (b: Block) => (
        <li class={snakeToKebab(b.BulletedListItem!.Color)}>
          {b.BulletedListItem!.RichTexts.map((richText: RichText) => (
            <NotionRichText richText={richText} />
          ))}
          {b.HasChildren && (
            <NotionBlocks
              blocks={b.BulletedListItem!.Children!}
              headings={headings}
              slug={slug}
            />
          )}
        </li>
      )
    )
  }
</ul>

<style>
  ul {
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
  }

  @media (max-width: 625px) {
    ul {
      font-size: 0.9rem;
    }
  }
</style>
