---
import { type RichText } from "../../../lib/notion-interfaces.ts";

export interface Props {
  richTexts: RichText[];
}

const { richTexts } = Astro.props;

// Ignores the first line, which should be an ALT text
let caption: string;
if (richTexts.length > 0 && richTexts[0].Text!.Content) {
  const multilineString = richTexts[0].Text!.Content;
  caption = multilineString.split("\n").slice(1).join("\n");
}
---

{
  caption! && (
    <div class="text-sm text-balance md:mt-2">
      <div>{caption}</div>
    </div>
  )
}
