---
import * as interfaces from "../../../lib/notion-interfaces.ts";
import Mention from "./Mention.astro";

export interface Props {
  block: interfaces.Block;
}

const { block } = Astro.props;
---

<p>
  <Mention pageId={block.LinkToPage!.PageId} />
</p>
