---
import {
  type Block,
  type RichText,
  type List,
} from "../../../lib/notion-interfaces.ts";
import { snakeToKebab } from "../../../lib/style-helpers.ts";
import NotionRichText from "./RichText.astro";
import NotionBlocks from "../NotionBlocks.astro";
import "../../../styles/notion-color.css";

export interface Props {
  block: Block;
  level: number;
  headings: Block[];
  slug: string;
}

const { block, level, headings, slug } = Astro.props;

const listTypes = ["i", "1", "a"];

const blockList: List = {
  Type: block.Type,
  ListItems: [block],
};
---

<ol type!={listTypes[level % 3]}>
  {
    blockList.ListItems.filter(
      (b: Block) => b.Type === "numbered_list_item"
    ).map((b: Block) => (
      <li class={snakeToKebab(b.NumberedListItem!.Color)}>
        {b.NumberedListItem!.RichTexts.map((richText: RichText) => (
          <NotionRichText richText={richText} />
        ))}
        {b.HasChildren && (
          <NotionBlocks
            blocks={b.NumberedListItem!.Children!}
            level={level + 1}
            headings={headings}
            slug={slug}
          />
        )}
      </li>
    ))
  }
</ol>

<style>
  ol {
    font-size: 1rem;
  }
</style>
