---
import * as interfaces from "../../../lib/notion-interfaces.ts";
import { snakeToKebab } from "../../../lib/style-helpers.ts";
import RichText from "./RichText.astro";
import NotionBlocks from "../NotionBlocks.astro";
import "../../../styles/notion-color.css";

export interface Props {
  block: interfaces.Block;
  headings: interfaces.Block[];
  slug: string;
}

const { block, headings, slug } = Astro.props;
---

<p
  class:list={[
    snakeToKebab(block.Paragraph!.Color),
    "my-2 px-2 md:px-0 text-base font-body w-full",
  ]}
>
  {
    block.Paragraph!.RichTexts.map((richText: interfaces.RichText) => (
      <RichText richText={richText} />
    ))
  }
  {
    block.Paragraph!.Children && (
      <NotionBlocks
        blocks={block.Paragraph!.Children}
        headings={headings}
        slug={slug}
      />
    )
  }
</p>
