---
import * as interfaces from "../../../lib/notion-interfaces.ts";
import { snakeToKebab } from "../../../lib/style-helpers.ts";
import RichText from "./RichText.astro";
import NotionBlocks from "../NotionBlocks.astro";
import "../../../styles/notion-color.css";

export interface Props {
  block: interfaces.Block;
  headings: interfaces.Block[];
  slug: string;
}

const { block, headings, slug } = Astro.props;
---

<p class={snakeToKebab(block.Paragraph!.Color)}>
  {
    block.Paragraph!.RichTexts.map((richText: interfaces.RichText) => (
      <RichText richText={richText} />
    ))
  }
  {
    block.Paragraph!.Children && (
      <NotionBlocks
        blocks={block.Paragraph!.Children}
        headings={headings}
        slug={slug}
      />
    )
  }
</p>

<style>
  p {
    margin: 1rem 0;
    font-size: 1.3rem;
    line-height: 1.2;
    min-height: 1.8rem;
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-after: 5;
    -webkit-hyphenate-limit-before: 7;
    -webkit-hyphenate-limit-chars: 13 5 7;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 8%;
    -moz-hyphens: auto;
    -moz-hyphenate-limit-chars: 12 4 4;
    -moz-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-last: always;
    -moz-hyphenate-limit-zone: 8%;
    -ms-hyphens: auto;
    -ms-hyphenate-limit-chars: 12 4 4;
    -ms-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-zone: 8%;
    hyphens: auto;
    hyphenate-limit-chars: 12 4 4;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
  }

  @media (max-width: 625px) {
    p {
      font-size: 1.1rem;
    }
  }
</style>
