---

---

<nav>
  <div class="options">
    <a aria-label="Go to Homepage" href="/" data-astro-prefetch>Homepage</a>
    <a aria-label="Go to Projects page" href="/projects" data-astro-prefetch
      >Team</a
    >
    <a aria-label="Go to Teaching page" href="/teaching" data-astro-prefetch
      >Our Work</a
    >
    <a aria-label="Go to Education page" href="/education" data-astro-prefetch
      >Toolbox</a
    >
  </div>
  <input type="checkbox" id="menu" class="checkbox visuallyHidden" />
  <label for="menu"> </label>
</nav>

<style></style>
