---
import { Image } from "astro:assets";

import type { Database } from "src/lib/notion-interfaces";
import { importCoverImage } from "src/lib/blog-helpers";

interface Props {
  databases: Database[];
}

const { databases } = Astro.props;

// Getting images dynamically with import.meta.glob()
// It only accepts string literals
// https://docs.astro.build/en/recipes/dynamically-importing-images/
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/notion/**/*.{jpeg,jpg,png,tiff,webp,gif,svg,avif}"
);
---

{
  databases! !== undefined &&
    databases.map((db) => {
      return (
        <section aria-label="Blog post list">
          <ul class="space-y-1">
            {db.Pages.map(async (page) => {
              let image = await importCoverImage(page, images);
              return (
                <article class="relative flex flex-col bg-clip-border">
                  <a class="flex transition" href={Astro.site + page.Slug}>
                    <div class="absolute flex flex-col z-10 w-full h-full text-center justify-center transition [&>*]:hover:opacity-100">
                      <h2 class="opacity-0 transition text-5xl text-black dark:text-black font-heading text-balance p-4">
                        {page.Name}
                      </h2>
                    </div>
                    <div class="flex justify-between gap-1 mb-1">
                      {image && (
                        <Image
                          class="rounded-md object-cover h-80"
                          src={image}
                          alt={page.CoverAlt}
                          transition:name={page.Slug + "-image"}
                        />
                      )}
                    </div>
                  </a>
                </article>
              );
            })}
          </ul>
        </section>
      );
    })
}
