---
import AutoCad from "../assets/software/autocad.svg";
import Sketchup from "../assets/software/sketchup.svg";
import Revit from "../assets/software/revit.svg";
import Civil3D from "../assets/software/civil3d.svg";
import Dynamo from "../assets/software/dynamo.svg";
import Grasshopper from "../assets/software/grasshopper3d.svg";
import Firefly from "../assets/software/firefly.svg";
import Kangaroo from "../assets/software/kangaroo3d.svg";
import Weaverbird from "../assets/software/weaverbird.svg";
import Galapagos from "../assets/software/galapagos.svg";
import Ladybug from "../assets/software/ladybug-tools.svg";
import Culebra from "../assets/software/culebra.svg";
import Karamba from "../assets/software/karamba3d.svg";
import Python from "../assets/software/python.svg";
import CSharp from "../assets/software/c-sharp.svg";
import HTML from "../assets/software/html-5.svg";
import CSS from "../assets/software/css.svg";
import JavascriptLogo from "../assets/software/javascript.svg";
import FlaskLogo from "../assets/software/flask.svg";
import AngularLogo from "../assets/software/angular.svg";
import AstroLogo from "../assets/software/astro.svg";
import ReactLogo from "../assets/software/react.svg";
import ExcelLogo from "../assets/software/excel.svg";
import MongoDB from "../assets/software/mongo-db.svg";
import SQLite from "../assets/software/sqlite.svg";
import PostgreSQL from "../assets/software/postgresql.svg";
import RFEM from "../assets/software/rfem.svg";
import Sofistik from "../assets/software/sofistik.svg";
---

<div id="chart-container" class="w-full">
  <!-- CAD -->
  <div class="section group">
    <div
      class="absolute top-0 z-10 flex items-center justify-center pb-1 font-sans filter backdrop-blur transition-all duration-200 ease-in-out will-change-[top,left,width] group-hover:left-5 group-hover:h-7 group-hover:w-25 group-hover:-translate-y-3.5 group-hover:rounded-sm group-hover:bg-zinc-800 group-hover:text-sm group-hover:backdrop-blur-none md:left-0 md:h-full md:w-full md:translate-0 md:rounded-2xl md:bg-black/[.8] md:text-2xl [@media(hover:none)]:left-5 [@media(hover:none)]:h-7 [@media(hover:none)]:w-auto [@media(hover:none)]:-translate-y-3.5 [@media(hover:none)]:rounded-sm [@media(hover:none)]:bg-zinc-800 [@media(hover:none)]:[@media(hover:none)]:px-2 [@media(hover:none)]:pb-1 [@media(hover:none)]:text-sm [@media(hover:none)]:backdrop-blur-none"
    >
      CAD & BIM
    </div>
    <!-- CAD Subsection -->
    <div
      class="grid w-full grid-cols-4 items-center justify-around gap-4 py-4 md:py-10"
    >
      <a
        href="https://www.sketchup.com/en"
        target="_blank"
        rel="noopener noreferrer"
        class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
      >
        <Sketchup class="inline-block w-10 cursor-pointer rounded bg-white" />
        <div class="text-center text-xs">SketchUp</div>
      </a>
      <a
        href="https://www.autodesk.com/products/autocad/overview"
        target="_blank"
        rel="noopener noreferrer"
        class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
      >
        <AutoCad class="inline-block w-10 cursor-pointer rounded bg-white" />
        <div class="text-center text-xs">AutoCAD</div>
      </a>
      <a
        href="https://www.autodesk.com/products/civil-3d/overview"
        target="_blank"
        rel="noopener noreferrer"
        class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
      >
        <Civil3D class="inline-block w-10 cursor-pointer rounded bg-white" />
        <div class="text-center text-xs">Civil&nbsp;3D</div>
      </a>
      <a
        href="https://www.autodesk.com/products/revit/overview"
        target="_blank"
        rel="noopener noreferrer"
        class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
      >
        <Revit class="inline-block w-10 cursor-pointer rounded bg-white" />
        <div class="text-center text-xs">Revit</div>
      </a>
    </div>
  </div>

  <!-- Computational Design Section -->
  <div class="section group">
    <div
      class="absolute top-0 z-10 flex items-center justify-center pb-1 font-sans filter backdrop-blur transition-all duration-200 ease-in-out will-change-[top,left,width] group-hover:left-5 group-hover:h-7 group-hover:w-42 group-hover:-translate-y-3.5 group-hover:rounded-sm group-hover:bg-zinc-800 group-hover:text-sm group-hover:backdrop-blur-none md:left-0 md:h-full md:w-full md:translate-0 md:rounded-2xl md:bg-black/[.8] md:text-2xl [@media(hover:none)]:left-5 [@media(hover:none)]:h-7 [@media(hover:none)]:w-auto [@media(hover:none)]:-translate-y-3.5 [@media(hover:none)]:rounded-sm [@media(hover:none)]:bg-zinc-800 [@media(hover:none)]:[@media(hover:none)]:px-2 [@media(hover:none)]:pb-1 [@media(hover:none)]:text-sm [@media(hover:none)]:backdrop-blur-none"
    >
      Computational Design
    </div>
    <div class="flex flex-col items-center justify-around gap-12 py-4 md:py-10">
      <div class="flex w-full items-center justify-around">
        <a
          href="https://dynamobim.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
        >
          <Dynamo class="inline-block w-10 cursor-pointer rounded bg-white" />
          <div class="text-center text-xs">Dynamo</div>
        </a>
        <a
          href="https://en.wikipedia.org/wiki/Grasshopper_3D"
          target="_blank"
          rel="noopener noreferrer"
          class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
        >
          <Grasshopper
            class="inline-block w-10 cursor-pointer rounded bg-[#579141]"
          />
          <div class="text-center text-xs">Grasshopper</div>
        </a>
      </div>
      <div
        class="relative w-full rounded-lg border border-dashed border-white p-4"
      >
        <div class="absolute -top-3 h-6 rounded bg-zinc-800 px-2 pt-1 text-xs">
          Add-ons
        </div>
        <div
          class="grid w-full grid-cols-3 items-center justify-around gap-4 py-4 md:flex"
        >
          <a
            href="https://kangaroo3d.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <Kangaroo
              class="inline-block w-10 cursor-pointer rounded bg-white"
            />
            <div class="text-center text-xs">Kangaroo</div>
          </a>
          <a
            href="https://www.grasshopper3d.com/group/galapagos"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <Galapagos
              class="inline-block w-10 cursor-pointer rounded bg-white"
            />
            <div class="text-center text-xs">Galapagos</div>
          </a>
          <a
            href="https://www.giuliopiacentino.com/weaverbird/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <Weaverbird
              class="inline-block w-10 cursor-pointer rounded bg-white"
            />
            <div class="text-center text-xs">Weaverbird</div>
          </a>
          <a
            href="https://www.ladybug.tools/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <Ladybug
              class="inline-block w-10 cursor-pointer rounded bg-white"
            />
            <div class="text-center text-xs">Ladybug Tools</div>
          </a>
          <a
            href="https://www.complicitmatter.com/culebra-net/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <Culebra
              class="inline-block w-10 cursor-pointer rounded bg-white"
            />
            <div class="text-center text-xs">Culebra</div>
          </a>
          <a
            href="https://karamba3d.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <Karamba
              class="inline-block w-10 cursor-pointer rounded bg-white"
            />
            <div class="text-center text-xs">Karamba3D</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- FEA Section -->
  <div class="section group">
    <div
      class="absolute top-0 z-10 flex items-center justify-center font-sans filter backdrop-blur transition-all duration-200 ease-in-out will-change-[top,left,width] group-hover:left-5 group-hover:h-7 group-hover:w-43 group-hover:-translate-y-3.5 group-hover:rounded-sm group-hover:bg-zinc-800 group-hover:text-sm group-hover:backdrop-blur-none md:left-0 md:h-full md:w-full md:translate-0 md:rounded-2xl md:bg-black/[.8] md:text-2xl [@media(hover:none)]:left-5 [@media(hover:none)]:h-7 [@media(hover:none)]:w-auto [@media(hover:none)]:-translate-y-3.5 [@media(hover:none)]:rounded-sm [@media(hover:none)]:bg-zinc-800 [@media(hover:none)]:[@media(hover:none)]:px-2 [@media(hover:none)]:pb-1 [@media(hover:none)]:text-sm [@media(hover:none)]:backdrop-blur-none"
    >
      Finite Element Analysis
    </div>
    <div class="flex flex-col items-center justify-around gap-12 py-4 md:py-10">
      <div class="flex w-full items-center justify-around">
        <a
          href="https://www.dlubal.com/en/products/rfem-fea-software/rfem/what-is-rfem"
          target="_blank"
          rel="noopener noreferrer"
          class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
        >
          <RFEM class="inline-block w-10 cursor-pointer rounded bg-white" />
          <div class="text-center text-xs">RFEM</div>
        </a>
        <a
          href="https://www.sofistik.com/en/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
        >
          <Sofistik class="inline-block w-10 cursor-pointer rounded bg-white" />
          <div class="text-center text-xs">SOFiSTiK</div>
        </a>
      </div>
    </div>
  </div>

  <!-- Programming Section -->
  <div class="section group">
    <div
      class="absolute top-0 z-10 flex items-center justify-center font-sans filter backdrop-blur transition-all duration-200 ease-in-out will-change-[top,left,width] group-hover:left-5 group-hover:h-7 group-hover:w-28 group-hover:-translate-y-3.5 group-hover:rounded-sm group-hover:bg-zinc-800 group-hover:text-sm group-hover:backdrop-blur-none md:left-0 md:h-full md:w-full md:translate-0 md:rounded-2xl md:bg-black/[.8] md:text-2xl [@media(hover:none)]:left-5 [@media(hover:none)]:h-7 [@media(hover:none)]:w-auto [@media(hover:none)]:-translate-y-3.5 [@media(hover:none)]:rounded-sm [@media(hover:none)]:bg-zinc-800 [@media(hover:none)]:[@media(hover:none)]:px-2 [@media(hover:none)]:pb-1 [@media(hover:none)]:text-sm [@media(hover:none)]:backdrop-blur-none"
    >
      Programming
    </div>
    <div class="flex flex-col items-center justify-around gap-12 py-4 md:py-10">
      <div
        class="relative w-full rounded-lg border border-dashed border-white p-4"
      >
        <div
          class="absolute -top-3 left-3 h-6 rounded bg-zinc-800 px-2 pt-1 text-xs"
        >
          Languages
        </div>
        <div class="flex flex-wrap items-center justify-around gap-8 py-4">
          <a
            href="https://www.python.org/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <Python class="inline-block w-10 cursor-pointer rounded bg-white" />
            <div class="text-center text-xs">Python</div>
          </a>
          <a
            href="https://dotnet.microsoft.com/en-us/languages/csharp"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <CSharp class="inline-block w-10 cursor-pointer rounded bg-white" />
            <div class="text-center text-xs">C#</div>
          </a>
          <div
            class="relative flex w-full items-center justify-around rounded-xl border border-dashed py-6 md:w-fit md:justify-between md:gap-8 md:px-8"
          >
            <div
              class="absolute -top-3 left-3 h-6 rounded bg-zinc-800 px-2 pt-1 text-xs"
            >
              Web development
            </div>
            <a
              href="https://html.spec.whatwg.org/multipage/"
              target="_blank"
              rel="noopener noreferrer"
              class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
            >
              <HTML class="inline-block w-10 cursor-pointer" />
              <div class="text-center text-xs">HTML</div>
            </a>
            <a
              href="https://www.w3.org/Style/CSS/Overview.en.html"
              target="_blank"
              rel="noopener noreferrer"
              class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
            >
              <CSS class="inline-block w-10 cursor-pointer" />
              <div class="text-center text-xs">CSS</div>
            </a>
            <a
              href="https://en.wikipedia.org/wiki/JavaScript"
              target="_blank"
              rel="noopener noreferrer"
              class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
            >
              <JavascriptLogo class="inline-block w-10 cursor-pointer" />
              <div class="text-center text-xs">JavaScript</div>
            </a>
          </div>
        </div>
      </div>

      <div
        class="relative flex w-full items-center justify-around rounded-xl border border-dashed py-6 md:px-8"
      >
        <div
          class="absolute -top-3 left-3 h-6 rounded bg-zinc-800 px-2 pt-1 text-xs"
        >
          Frameworks
        </div>
        <div
          class="grid w-full grid-cols-4 items-center justify-around py-4 md:py-10"
        >
          <a
            href="https://palletsprojects.com/projects/flask/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <FlaskLogo
              class="inline-block w-10 cursor-pointer rounded bg-white"
            />
            <div class="text-center text-xs">Flask</div>
          </a>
          <a
            href="https://angular.dev/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <AngularLogo
              class="inline-block w-10 cursor-pointer rounded bg-white"
            />
            <div class="text-center text-xs">Angular</div>
          </a>
          <a
            href="https://astro.build/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <AstroLogo
              class="inline-block w-10 cursor-pointer rounded bg-white"
            />
            <div class="text-center text-xs">Astro</div>
          </a>
          <a
            href="https://react.dev/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <ReactLogo
              class="inline-block w-10 cursor-pointer rounded bg-white"
            />
            <div class="text-center text-xs">React</div>
          </a>
        </div>
      </div>
      <div
        class="relative flex w-full items-center justify-around rounded-xl border border-dashed py-6 md:px-8"
      >
        <div
          class="absolute -top-3 left-3 h-6 rounded bg-zinc-800 px-2 pt-1 text-xs"
        >
          Databases
        </div>
        <div
          class="grid w-full grid-cols-4 items-center justify-around py-4 md:py-10"
        >
          <a
            href="https://en.wikipedia.org/wiki/Comma-separated_values"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <ExcelLogo
              class="inline-block w-10 cursor-pointer rounded bg-white"
            />
            <div class="text-center text-xs">CSV</div>
          </a>
          <a
            href="https://www.mongodb.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <MongoDB
              class="inline-block w-10 cursor-pointer rounded bg-white"
            />
            <div class="text-center text-xs">NoSQL</div>
          </a>
          <a
            href="https://sqlite.org/index.html"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <SQLite class="inline-block w-10 cursor-pointer rounded bg-white" />
            <div class="text-center text-xs">SQLite</div>
          </a>
          <a
            href="https://www.postgresql.org/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex flex-col items-center justify-center gap-1 transition-all duration-200 hover:-translate-y-0.5"
          >
            <PostgreSQL
              class="inline-block w-10 cursor-pointer rounded bg-white"
            />
            <div class="text-center text-xs">PostgreSQL</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .section {
    position: relative;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 1px dashed white;
    padding: 1rem;
  }

  .section-title {
    font-size: 0.85rem;
    position: absolute;
    top: -0.75rem;
    background-color: var(--color-zinc-800);
    padding: 0 0.5rem;
    border-radius: 0.25rem;
  }
</style>
