---
import AutoCad from "../assets/software/autocad.svg";
import Sketchup from "../assets/software/sketchup.svg";
import Revit from "../assets/software/revit.svg";
import Civil3D from "../assets/software/civil3d.svg";
import Dynamo from "../assets/software/dynamo.svg";
import Grasshopper from "../assets/software/grasshopper3d.svg";
import Firefly from "../assets/software/firefly.svg";
import Kangaroo from "../assets/software/kangaroo3d.svg";
import Weaverbird from "../assets/software/weaverbird.svg";
import Galapagos from "../assets/software/galapagos.svg";
import Ladybug from "../assets/software/ladybug-tools.svg";
import Culebra from "../assets/software/culebra.svg";
import Karamba from "../assets/software/karamba3d.svg";
import Python from "../assets/software/python.svg";
import CSharp from "../assets/software/c-sharp.svg";
import HTML from "../assets/software/html-5.svg";
import CSS from "../assets/software/css.svg";
import JavascriptLogo from "../assets/software/javascript.svg";
import FlaskLogo from "../assets/software/flask.svg";
import AngularLogo from "../assets/software/angular.svg";
import AstroLogo from "../assets/software/astro.svg";
import ReactLogo from "../assets/software/react.svg";
import ExcelLogo from "../assets/software/excel.svg";
import MongoDB from "../assets/software/mongo-db.svg";
import SQLite from "../assets/software/sqlite.svg";
import PostgreSQL from "../assets/software/postgresql.svg";
import RFEM from "../assets/software/rfem.svg";
import Sofistik from "../assets/software/sofistik.svg";
---

<div id="chart-container">
  <!-- CAD -->
  <div class="section group bg-zinc-700">
    <div
      class="absolute top-0 left-0 z-10 flex h-full w-full items-center justify-center rounded-2xl bg-black/[.8] px-2 font-sans text-2xl filter backdrop-blur transition-all duration-200 ease-in-out group-hover:left-5 group-hover:flex group-hover:h-6 group-hover:w-25 group-hover:-translate-y-3.5 group-hover:rounded-sm group-hover:bg-zinc-800 group-hover:text-sm group-hover:backdrop-blur-none"
    >
      CAD & BIM
    </div>
    <div class="section-content">
      <!-- CAD Subsection -->
      <div class="flex items-center justify-around py-4">
        <a
          href="https://www.sketchup.com/en"
          target="_blank"
          rel="noopener noreferrer"
          class="group/sketchup node gap-1"
        >
          <Sketchup class="inline-block cursor-pointer rounded bg-white" />
          <div
            class="h-0 text-center text-xs opacity-0 group-hover/sketchup:opacity-100"
          >
            SketchUp
          </div>
        </a>
        <a
          href="https://www.autodesk.com/products/autocad/overview"
          target="_blank"
          rel="noopener noreferrer"
          class="group/autocad node gap-1"
        >
          <AutoCad class="inline-block cursor-pointer rounded bg-white" />
          <div
            class="h-0 text-center text-xs opacity-0 group-hover/autocad:opacity-100"
          >
            AutoCAD
          </div>
        </a>
        <a
          href="https://www.autodesk.com/products/civil-3d/overview"
          target="_blank"
          rel="noopener noreferrer"
          class="group/civil3d node gap-1"
        >
          <Civil3D class="inline-block cursor-pointer rounded bg-white" />
          <div
            class="h-0 text-center text-xs opacity-0 group-hover/civil3d:opacity-100"
          >
            Civil&nbsp;3D
          </div>
        </a>
        <a
          href="https://www.autodesk.com/products/revit/overview"
          target="_blank"
          rel="noopener noreferrer"
          class="group/revit node gap-1"
        >
          <Revit class="inline-block cursor-pointer rounded bg-white" />
          <div
            class="h-0 text-center text-xs opacity-0 group-hover/revit:opacity-100"
          >
            Revit
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Computational Design Section -->
  <div class="section group bg-zinc-700">
    <div
      class="absolute top-0 left-0 z-10 flex h-full w-full items-center justify-center rounded-2xl bg-black/[.8] px-2 font-sans text-2xl filter backdrop-blur transition-all duration-200 ease-in-out group-hover:left-5 group-hover:flex group-hover:h-6 group-hover:w-40 group-hover:-translate-y-3.5 group-hover:rounded-sm group-hover:bg-zinc-800 group-hover:py-1 group-hover:text-sm group-hover:backdrop-blur-none"
    >
      Computational Design
    </div>
    <div class="section-content">
      <div class="flex items-center justify-around py-4">
        <a
          href="https://dynamobim.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="node group/dynamo gap-1"
        >
          <Dynamo class="inline-block cursor-pointer rounded bg-white" />
          <div
            class="h-0 text-center text-xs opacity-0 group-hover/dynamo:opacity-100"
          >
            Dynamo
          </div>
        </a>
        <a
          href="https://en.wikipedia.org/wiki/Grasshopper_3D"
          target="_blank"
          rel="noopener noreferrer"
          class="node group/grasshopper gap-1"
        >
          <Grasshopper
            class="inline-block cursor-pointer rounded bg-[#579141]"
          />
          <div
            class="h-0 text-center text-xs opacity-0 group-hover/grasshopper:opacity-100"
          >
            Grasshopper
          </div>
        </a>
      </div>
      <div class="subsection">
        <div class="subsection-title">Grasshopper Add-ons</div>
        <div class="flex items-center justify-around py-4">
          <a
            href="https://www.fireflyexperiments.com"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/firefly gap-1"
          >
            <Firefly class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/firefly:opacity-100"
            >
              Firefly
            </div>
          </a>
          <a
            href="https://kangaroo3d.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/kangaroo gap-1"
          >
            <Kangaroo class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/kangaroo:opacity-100"
            >
              Kangaroo
            </div>
          </a>
          <a
            href="https://www.grasshopper3d.com/group/galapagos"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/galapagos gap-1"
          >
            <Galapagos class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/galapagos:opacity-100"
            >
              Galapagos
            </div>
          </a>
          <a
            href="https://www.giuliopiacentino.com/weaverbird/"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/weaverbird gap-1"
          >
            <Weaverbird class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/weaverbird:opacity-100"
            >
              Weaverbird
            </div>
          </a>
          <a
            href="https://www.ladybug.tools/"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/ladybug gap-1"
          >
            <Ladybug class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/ladybug:opacity-100"
            >
              Ladybug Tools
            </div>
          </a>
          <a
            href="https://www.complicitmatter.com/culebra-net/"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/culebra gap-1"
          >
            <Culebra class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/culebra:opacity-100"
            >
              Culebra
            </div>
          </a>
          <a
            href="https://karamba3d.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/karamba gap-1"
          >
            <Karamba class="g inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/karamba:opacity-100"
            >
              Karamba3D
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- FEA Section -->
  <div class="section group bg-zinc-700">
    <div
      class="absolute top-0 left-0 z-10 flex h-full w-full items-center justify-center rounded-2xl bg-black/[.8] px-2 font-sans text-2xl filter backdrop-blur transition-all duration-200 ease-in-out group-hover:left-5 group-hover:flex group-hover:h-6 group-hover:w-41 group-hover:-translate-y-3.5 group-hover:rounded-sm group-hover:bg-zinc-800 group-hover:py-1 group-hover:text-sm group-hover:backdrop-blur-none"
    >
      Finite Element Analysis
    </div>
    <div class="section-content">
      <div class="flex items-center justify-around py-4">
        <a
          href="https://www.dlubal.com/en/products/rfem-fea-software/rfem/what-is-rfem"
          target="_blank"
          rel="noopener noreferrer"
          class="node group/refm gap-1"
        >
          <RFEM class="inline-block cursor-pointer rounded bg-white" />
          <div
            class="h-0 text-center text-xs opacity-0 group-hover/refm:opacity-100"
          >
            RFEM
          </div>
        </a>
        <a
          href="https://www.sofistik.com/en/"
          target="_blank"
          rel="noopener noreferrer"
          class="node group/sofistik gap-1"
        >
          <Sofistik class="inline-block cursor-pointer rounded bg-white" />
          <div
            class="h-0 text-center text-xs opacity-0 group-hover/sofistik:opacity-100"
          >
            SOFiSTiK
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Programming Section -->
  <div class="section group bg-zinc-700">
    <div
      class="absolute top-0 left-0 z-10 flex h-full w-full items-center justify-center rounded-2xl bg-black/[.8] px-2 font-sans text-2xl filter backdrop-blur transition-all duration-200 ease-in-out group-hover:left-5 group-hover:flex group-hover:h-6 group-hover:w-26 group-hover:-translate-y-3.5 group-hover:rounded-sm group-hover:bg-zinc-800 group-hover:py-1 group-hover:text-sm group-hover:backdrop-blur-none"
    >
      Programming
    </div>
    <div class="section-content">
      <div class="subsection">
        <div class="subsection-title">Languages</div>
        <div class="flex items-center justify-around py-4">
          <a
            href="https://www.python.org/"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/python gap-1"
          >
            <Python class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/python:opacity-100"
            >
              Python
            </div>
          </a>
          <a
            href="https://dotnet.microsoft.com/en-us/languages/csharp"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/csharp gap-1"
          >
            <CSharp class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/csharp:opacity-100"
            >
              C#
            </div>
          </a>
          <div
            class="group/webdev flex items-center gap-8 rounded-xl border border-dashed bg-zinc-600 px-8 py-6"
          >
            <a
              href="https://html.spec.whatwg.org/multipage/"
              target="_blank"
              rel="noopener noreferrer"
              class="node gap-1"
            >
              <HTML class="inline-block cursor-pointer" />
              <div
                class="h-0 text-center text-xs opacity-0 group-hover/webdev:opacity-100"
              >
                HTML
              </div>
            </a>
            <a
              href="https://www.w3.org/Style/CSS/Overview.en.html"
              target="_blank"
              rel="noopener noreferrer"
              class="node gap-1"
            >
              <CSS class="inline-block cursor-pointer" />
              <div
                class="h-0 text-center text-xs opacity-0 group-hover/webdev:opacity-100"
              >
                CSS
              </div>
            </a>
            <a
              href="https://en.wikipedia.org/wiki/JavaScript"
              target="_blank"
              rel="noopener noreferrer"
              class="node gap-1"
            >
              <JavascriptLogo class="inline-block cursor-pointer" />
              <div
                class="h-0 text-center text-xs opacity-0 group-hover/webdev:opacity-100"
              >
                JavaScript
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="subsection">
        <div class="subsection-title">Frameworks</div>
        <div class="flex items-center justify-around py-4">
          <a
            href="https://palletsprojects.com/projects/flask/"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/flask gap-1"
          >
            <FlaskLogo class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/flask:opacity-100"
            >
              Flask
            </div>
          </a>
          <a
            href="https://angular.dev/"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/angular gap-1"
          >
            <AngularLogo class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/angular:opacity-100"
            >
              Angular
            </div>
          </a>
          <a
            href="https://astro.build/"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/astro gap-1"
          >
            <AstroLogo class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/astro:opacity-100"
            >
              Astro
            </div>
          </a>
          <a
            href="https://react.dev/"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/react gap-1"
          >
            <ReactLogo class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/react:opacity-100"
            >
              React
            </div>
          </a>
        </div>
      </div>
      <div class="subsection">
        <div class="subsection-title">Databases</div>
        <div class="flex items-center justify-around py-4">
          <a
            href="https://en.wikipedia.org/wiki/Comma-separated_values"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/excel gap-1"
          >
            <ExcelLogo class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/excel:opacity-100"
            >
              CSV
            </div>
          </a>
          <a
            href="https://www.mongodb.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/mongo gap-1"
          >
            <MongoDB class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/mongo:opacity-100"
            >
              NoSQL
            </div>
          </a>
          <a
            href="https://sqlite.org/index.html"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/sqlite gap-1"
          >
            <SQLite class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/sqlite:opacity-100"
            >
              SQLite
            </div>
          </a>
          <a
            href="https://www.postgresql.org/"
            target="_blank"
            rel="noopener noreferrer"
            class="node group/postgresql gap-1"
          >
            <PostgreSQL class="inline-block cursor-pointer rounded bg-white" />
            <div
              class="h-0 text-center text-xs opacity-0 group-hover/postgresql:opacity-100"
            >
              PostgreSQL
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #chart-container {
    width: 100%;
  }

  .section {
    position: relative;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 1px dashed white;
    padding: 1.5rem;
  }

  .section-title {
    font-size: 0.85rem;
    position: absolute;
    top: -0.75rem;
    background-color: var(--color-zinc-800);
    padding: 0 0.5rem;
    border-radius: 0.25rem;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1.5rem 0;
  }

  .subsection {
    position: relative;
    border: 1px dashed;
    border-color: white;
    border-radius: 6px;
    padding: 1rem;
  }

  .subsection-title {
    font-size: 0.8rem;
    position: absolute;
    top: -0.65rem;
    background-color: var(--color-zinc-800);
    padding: 0 0.5rem;
    border-radius: 0.25rem;
  }

  .node {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:
      transform 0.2s,
      box-shadow 0.2s;
    min-width: 30px;
    width: 40px;
    cursor: default;
  }

  .node:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px var(--shadow-color);
  }
</style>
