---
import AutoCad from "../assets/software/autocad.svg";
import Sketchup from "../assets/software/sketchup.svg";
import ThreeDSMax from "../assets/software/3ds-max.svg";
import VRay from "../assets/software/v-ray.svg";
import Keyshot from "../assets/software/keyshot.svg";
import Twinmotion from "../assets/software/twinmotion.svg";
import Lumion from "../assets/software/lumion.svg";
import Revit from "../assets/software/revit.svg";
import GreenBuildingStudio from "../assets/software/green-building-studio.svg";
import Ecotect from "../assets/software/ecotect.svg";
import Flow from "../assets/software/flow.svg";
import CFD from "../assets/software/cfd.svg";
import Dynamo from "../assets/software/dynamo.svg";
import Grasshopper from "../assets/software/grasshopper3d.svg";
import Firefly from "../assets/software/firefly.svg";
import Kangaroo from "../assets/software/kangaroo3d.svg";
import Weaverbird from "../assets/software/weaverbird.svg";
import Galapagos from "../assets/software/galapagos.svg";
import Ladybug from "../assets/software/ladybug-tools.svg";
import Culebra from "../assets/software/culebra.svg";
import Karamba from "../assets/software/karamba3d.svg";
import Arduino from "../assets/software/arduino.svg";
import RaspberryPi from "../assets/software/raspberry-pi.svg";
import Python from "../assets/software/python.svg";
import CSharp from "../assets/software/c-sharp.svg";
import HTML from "../assets/software/html-5.svg";
import CSS from "../assets/software/css.svg";
import JavascriptLogo from "../assets/software/javascript.svg";
import FlaskLogo from "../assets/software/flask.svg";
import AngularLogo from "../assets/software/angular.svg";
import AstroLogo from "../assets/software/astro.svg";
import ReactLogo from "../assets/software/react.svg";
import ExcelLogo from "../assets/software/excel.svg";
import MongoDB from "../assets/software/mongo-db.svg";
import SQLite from "../assets/software/sqlite.svg";
import PostgreSQL from "../assets/software/postgresql.svg";
import RFEM from "../assets/software/rfem.svg";
import Sofistik from "../assets/software/sofistik.svg";
---

<div id="chart-container" class="[&_.section-title]:px-1">
  <!-- CAD & Rendering Section -->
  <div class="section group transition duration-200 hover:bg-zinc-700">
    <div class="section-title">CAD</div>
    <div class="section-content">
      <!-- CAD Subsection -->
      <div class="node-container">
        <div class="node">
          <AutoCad
            class="inline-block cursor-pointer rounded brightness-250 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0"
          />
          <div class="node-label">AutoCAD</div>
        </div>
        <div class="arrow">→</div>
        <div class="node">
          <Sketchup
            class="inline-block cursor-pointer rounded brightness-200 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0"
          />
          <div class="node-label">SketchUp</div>
        </div>
        <div class="arrow">→</div>
        <div class="node">
          <ThreeDSMax
            class="inline-block cursor-pointer rounded contrast-200 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:contrast-200 group-hover:grayscale-0"
          />
          <div class="node-label">3ds Max</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Rendering Section -->
  <div class="section group transition duration-200 hover:bg-zinc-700">
    <div class="section-title">Rendering</div>
    <div class="section-content">
      <div class="node-container">
        <div class="node">
          <VRay
            class="inline-block cursor-pointer rounded filter transition duration-200 ease-in-out group-hover:bg-[#2f58a8]"
          />
          <div class="node-label">V-Ray</div>
        </div>
        <div class="arrow">→</div>
        <div class="node">
          <Keyshot
            class="inline-block cursor-pointer rounded grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:grayscale-0"
          />
          <div class="node-label">KeyShot</div>
        </div>
        <div class="arrow">→</div>
        <div class="node">
          <Twinmotion
            class="inline-block cursor-pointer rounded filter transition duration-200 ease-in-out group-hover:bg-black group-hover:invert"
          />
          <div class="node-label">Twinmotion</div>
        </div>
        <div class="arrow">→</div>
        <div class="node">
          <Lumion
            class="inline-block cursor-pointer rounded brightness-125 grayscale filter transition duration-200 ease-in-out group-hover:bg-[#2C5486] group-hover:brightness-100 group-hover:grayscale-0"
          />
          <div class="node-label">Lumion</div>
        </div>
      </div>
    </div>
  </div>

  <!-- BIM Section -->
  <div class="section group transition duration-200 hover:bg-zinc-700">
    <div class="section-title">BIM & Environmental Analysis</div>
    <div class="section-content">
      <div class="node-container">
        <div class="node">
          <Revit
            class="inline-block cursor-pointer rounded brightness-150 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0"
          />
          <div class="node-label">Revit</div>
        </div>
        <div class="arrow">→</div>
        <div class="node">
          <GreenBuildingStudio
            class="inline-block cursor-pointer rounded brightness-200 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0"
          />
          <div class="node-label">Green Building Studio</div>
        </div>
        <div class="arrow">→</div>
        <div class="node">
          <Ecotect
            class="m inline-block cursor-pointer rounded grayscale filter transition duration-200 ease-in-out group-hover:bg-black group-hover:grayscale-0"
          />
          <div class="node-label">Ecotect</div>
        </div>
        <div class="arrow">→</div>
        <div class="node">
          <Flow
            class="inline-block cursor-pointer rounded brightness-150 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0"
          />
          <div class="node-label">Flow Design</div>
        </div>
        <div class="arrow">→</div>
        <div class="node">
          <CFD
            class="inline-block cursor-pointer rounded grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:grayscale-0"
          />
          <div class="node-label">CFD</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Computational Design Section -->
  <div class="section group transition duration-200 hover:bg-zinc-700">
    <div class="section-title">Computational Design</div>
    <div class="section-content">
      <div class="node-container">
        <div class="node">
          <Dynamo
            class="inline-block cursor-pointer rounded grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:grayscale-0"
          />
          <div class="node-label">Dynamo</div>
        </div>
        <div class="arrow">→</div>
        <div class="node">
          <Grasshopper
            class="inline-block cursor-pointer rounded filter transition duration-200 ease-in-out group-hover:bg-[#579141]"
          />
          <div class="node-label">Grasshopper</div>
        </div>
      </div>

      <div class="subsection">
        <div class="subsection-title">Grasshopper Add-ons</div>
        <div class="node-container">
          <div class="node">
            <Firefly
              class="inline-block cursor-pointer rounded grayscale filter transition duration-200 ease-in-out group-hover:bg-black group-hover:invert"
            />
            <div class="node-label">Firefly</div>
          </div>
          <div class="node">
            <Kangaroo
              class="inline-block cursor-pointer rounded grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:grayscale-0"
            />
            <div class="node-label">Kangaroo</div>
          </div>
          <div class="node">
            <Galapagos
              class="inline-block cursor-pointer rounded grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:grayscale-0"
            />
            <div class="node-label">Galapagos</div>
          </div>
          <div class="node">
            <Weaverbird
              class="inline-block cursor-pointer rounded brightness-200 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0"
            />
            <div class="node-label">Weaverbird</div>
          </div>
          <div class="node">
            <Ladybug
              class="inline-block cursor-pointer rounded brightness-175 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0"
            />
            <div class="node-label">Ladybug Tools</div>
          </div>
          <div class="node">
            <Culebra
              class="inline-block cursor-pointer rounded grayscale filter transition duration-200 ease-in-out group-hover:bg-black group-hover:invert"
            />
            <div class="node-label">Culebra2</div>
          </div>
          <div class="node">
            <Karamba
              class="inline-block cursor-pointer rounded grayscale invert filter transition duration-200 ease-in-out group-hover:bg-white group-hover:grayscale-0 group-hover:invert-0"
            />
            <div class="node-label">Karamba3D</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FEA Section -->
  <div class="section group transition duration-200 hover:bg-zinc-700">
    <div class="section-title">Finite Element Analysis</div>
    <div class="section-content">
      <div class="node-container">
        <div class="node">
          <RFEM
            class="inline-block cursor-pointer rounded brightness-500 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0"
          />
          <div class="node-label">RFEM</div>
        </div>
        <div class="arrow">→</div>
        <div class="node">
          <Sofistik
            class="inline-block cursor-pointer rounded brightness-500 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0"
          />
          <div class="node-label">SOFiSTiK</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Hardware Section -->
  <div class="section group transition duration-200 hover:bg-zinc-700">
    <div class="section-title">Hardware</div>
    <div class="section-content">
      <div class="node-container">
        <div class="node">
          <Arduino
            class="inline-block cursor-pointer rounded brightness-500 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0"
          />
          <div class="node-label">Arduino</div>
        </div>
        <div class="arrow">→</div>
        <div class="node">
          <RaspberryPi
            class="inline-block cursor-pointer rounded brightness-200 grayscale invert filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0 group-hover:invert-0"
          />
          <div class="node-label">Raspberry Pi</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Programming Section -->
  <div class="section group transition duration-200 hover:bg-zinc-700">
    <div class="section-title">Programming</div>
    <div class="section-content">
      <div class="subsection">
        <div class="subsection-title">Languages</div>
        <div class="node-container">
          <div class="node">
            <Python
              class="inline-block cursor-pointer rounded brightness-500 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0"
            />
            <div class="node-label">Python</div>
          </div>
          <div class="arrow">→</div>
          <div class="node">
            <CSharp
              class="inline-block cursor-pointer rounded grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:grayscale-0"
            />
            <div class="node-label">C#</div>
          </div>
          <div class="arrow">→</div>
          <div
            class="flex items-center gap-2 rounded-xl border border-dashed p-4"
          >
            <div class="node">
              <HTML
                class="inline-block cursor-pointer grayscale filter transition duration-200 ease-in-out group-hover:grayscale-0"
              />
              <div class="node-label">HTML</div>
            </div>
            <div class="arrow">+</div>
            <div class="node">
              <CSS
                class="inline-block cursor-pointer grayscale filter transition duration-200 ease-in-out group-hover:grayscale-0"
              />
              <div class="node-label">CSS</div>
            </div>
            <div class="arrow">+</div>
            <div class="node">
              <JavascriptLogo
                class="inline-block cursor-pointer grayscale filter transition duration-200 ease-in-out group-hover:grayscale-0"
              />
              <div class="node-label">JS</div>
            </div>
          </div>
        </div>
      </div>

      <div class="subsection">
        <div class="subsection-title">Frameworks</div>
        <div class="node-container">
          <div class="node">
            <FlaskLogo
              class="inline-block cursor-pointer rounded grayscale filter transition duration-200 ease-in-out group-hover:bg-black group-hover:invert"
            />
            <div class="node-label">Flask</div>
          </div>
          <div class="arrow">→</div>
          <div class="node">
            <AngularLogo
              class="inline-block cursor-pointer rounded brightness-500 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0"
            />
            <div class="node-label">Angular</div>
          </div>
          <div class="arrow">→</div>
          <div class="node">
            <AstroLogo
              class="inline-block cursor-pointer rounded grayscale invert filter transition duration-200 ease-in-out group-hover:bg-white group-hover:grayscale-0 group-hover:invert-0"
            />
            <div class="node-label">Astro</div>
          </div>
          <div class="arrow">→</div>
          <div class="node">
            <ReactLogo
              class="inline-block cursor-pointer rounded grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:grayscale-0"
            />
            <div class="node-label">React</div>
          </div>
        </div>
      </div>
      <div class="subsection">
        <div class="subsection-title">Database</div>
        <div class="node-container">
          <div class="node">
            <ExcelLogo
              class="inline-block cursor-pointer rounded brightness-200 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0"
            />
            <div class="node-label">CSV</div>
          </div>
          <div class="arrow">→</div>
          <div class="node">
            <MongoDB
              class="inline-block cursor-pointer rounded grayscale invert filter transition duration-200 ease-in-out group-hover:bg-white group-hover:invert-0"
            />
            <div class="node-label">JSON</div>
          </div>
          <div class="arrow">→</div>
          <div class="node">
            <SQLite
              class="inline-block cursor-pointer rounded brightness-300 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0"
            />
            <div class="node-label">SQLite</div>
          </div>
          <div class="arrow">→</div>
          <div class="node">
            <PostgreSQL
              class="inline-block cursor-pointer rounded brightness-200 grayscale filter transition duration-200 ease-in-out group-hover:bg-white group-hover:brightness-100 group-hover:grayscale-0"
            />
            <div class="node-label">PostgreSQL</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <script>
        // Optional: Add some interactivity
        document.addEventListener('DOMContentLoaded', function() {
            const nodes = document.querySelectorAll('.node');
            
            nodes.forEach(node => {
                node.addEventListener('click', function() {
                    // Add active class to clicked node
                    nodes.forEach(n => n.classList.remove('active'));
                    this.classList.add('active');
                    
                    // Get the software name
                    const softwareName = this.querySelector('.node-label').textContent;
                    console.log(`Selected: ${softwareName}`);
                    
                    // Here you could add additional functionality like showing details
                    // about the selected software
                });
            });
        });
    </script> -->
<style>
  #chart-container {
    width: 100%;
  }

  .section {
    position: relative;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 1px dashed white;
    padding: 1.5rem;
  }

  .section-title {
    font-size: 0.85rem;
    position: absolute;
    top: -0.75rem;
    background-color: var(--color-zinc-800);
    padding: 0 0.25rem;
    border-radius: 0.25rem;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .subsection {
    position: relative;
    border: 1px dashed;
    border-color: white;
    border-radius: 6px;
    padding: 1rem;
  }

  .subsection-title {
    font-size: 0.8rem;
    position: absolute;
    top: -0.65rem;
    background-color: var(--color-zinc-800);
    padding: 0 0.25rem;
    border-radius: 0.25rem;
  }

  .node-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }

  .node {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:
      transform 0.2s,
      box-shadow 0.2s;
    min-width: 30px;
    width: 40px;
    cursor: default;
  }

  .node:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px var(--shadow-color);
  }

  .node-label {
    font-size: 0.8rem;
    text-align: center;
    height: 0;
    opacity: 0;
  }

  .arrow {
    font-size: 1.5rem;
    color: var(--line-color);
    display: inline-flex;
    align-items: center;
  }

  .section-connector {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
  }

  .connector-line {
    width: 2px;
    height: 30px;
    background-color: var(--line-color);
  }

  .connector-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--line-color);
  }

  @media (max-width: 768px) {
    .tech-chart {
      min-width: 100%;
    }
  }
</style>
