---
import { type RichText } from "../../../../lib/notion-interfaces.ts";

export interface Props {
  richText: RichText;
}

const { richText } = Astro.props;
---

{
  /* prettier-ignore */
  richText.Href && !richText.Mention ? (
    <a href={richText.Href} class="text-slate-400 underline sm:hover:text-slate-600"><slot /></a>
  ) : (
    <slot />
  )
}
